

@model e2rc.Models.ReviewerModel
@{
    ViewBag.Title = "Reviewer Details";
}
<style>
    #lstLocation_ID {
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<script src="~/Scripts/multiple-select.js"></script>

<script src="../../Scripts/select2.js" type="text/javascript"></script>
<link href="../../Content/css/select2.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    $(function () {
        $("#Client_IDs").select2().select2("val", $("#hfSelectedClients").val().split(','));

        var AssignedProject = [];
        AssignedProject = [@Model.slstLocationID];

        var options = $('#hiddenDropDown option');

        var values = $.map(options, function (option) {
            return (option.value);
        });

        //var location = [];

        //location = $("#lstLocation_ID").val();
        //$("#lstLocation_ID").empty();
       // console.log('test '+ values);
        for (var i = 0; i < values.length ; i++) {
            for (var j = 0 ; j < AssignedProject.length ; j++) {
                if (values[i] == AssignedProject[j]) {
                  //  console.log("values " + values[i] + " AssignedProject " + AssignedProject[j]);
                    var selectedText = $('#hiddenDropDown option').eq(i).text();
                    //console.log(selectedText);
                   // var lstLocation_IDName = selectedText.split(",,");
                    var $select = $("#lstLocation_ID");
                    var $opt = $("<option />", {
                        value: values[i],
                        text: selectedText,
                    });

                   // console.log($opt);
                    $select.append($opt);
                    $select.select2().select2("val", AssignedProject);
                }
            }
        }
      //  console.log([@Model.slstLocationID]);
        $("#lstLocation_ID").select2().select2("val", AssignedProject);

    });
    </script>

<script type="text/javascript">
    $(function () {
        $(".btnbk").click(function () {
            window.history.back()
        });
    });  
</script>
<style>
    .assign-company-tags .form-control {
        height: auto;
    }

    .assign-company-tags .select2-container-multi .select2-choices {
        max-height: 94px;
        overflow-y: auto;
    }
</style>

<div class="navbar" style="margin-bottom: 0% !important;">
    <div class="row">
        <div class="col-md-6">
            <div class="col-sm-4">
               <div class = "btn btn-black btn-custom btnbk" style="width:100%;"> Back</div>
            </div>
            <div class="col-sm-1">
            </div>
            @if (User.Role == "Franchise Admin")
            {
            <div class="col-sm-5">
                @Html.ActionLink("Edit", "Edit", "Reviewer", new { Reviewer_ID = Model.Reviewer_ID }, new { @class = "btn btn-black btn-custom" }) 
                
            </div>
             }
        </div>
    </div>
</div>
<div class="panel-head">
    Reviewer Details
</div>
<div id="accordion" class="panel-group">
 @Html.HiddenFor(m => m.hfSelectedClients, new { id = "hfSelectedClients" })
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <b>Reviewer Details</b>
            </div>
        </div>
        <div id="collapseThree" class="panel-collapse collapse  in">
            <div class="panel-body" style="margin-left: 4%;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-sm-6">
                            <label class="col-sm-4 sp-15bottom ">
                                @Html.LabelFor(model => model.FirstName)</label>
                            <div class="col-sm-8">
                                @Html.DisplayFor(model => model.FirstName)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-4 sp-15bottom ">
                                @Html.LabelFor(model => model.LastName)</label>
                            <div class="col-sm-8">
                                @Html.DisplayFor(model => model.LastName)
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                           <div class="col-sm-6">
                            <label class="col-sm-4 sp-15bottom ">
                                @Html.LabelFor(model => model.Date)</label>
                            <div class="col-sm-8">
                                @Html.DisplayFor(model => model.Date)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-4 sp-15bottom">
                                @Html.LabelFor(model => model.UserName)</label>
                            <div class="col-sm-8">
                                @Html.DisplayFor(model => model.UserName)
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <div class="col-sm-6">
                            <label class="col-sm-4 sp-15bottom">
                                @Html.LabelFor(model => model.Email)</label>
                            <div class="col-sm-8">
                                @Html.DisplayFor(model => model.Email)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-4 sp-15bottom">
                                Role</label>
                            <div class="col-sm-8">
                                @Html.DisplayFor(model => model.Role.Description)
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <div class="col-sm-6">
                            <label class="col-sm-4 sp-15bottom">
                                @Html.LabelFor(model => model.Qualification)</label>
                            <div class="col-sm-8">
                                @Html.DisplayFor(model => model.Qualification)
                            </div>
                        </div>
                    <div class="col-sm-6">
                            <label class="col-sm-4 sp-15bottom">
                                @Html.LabelFor(model => model.PhoneNumber)</label>
                            <div class="col-sm-8">
                                @Html.DisplayFor(model => model.PhoneNumber)
                            </div>
                        </div>                    
                         </div>
                          </div>     
                         <div class="row">
                    <div class="col-md-12">
                          <div class="col-sm-6">
                            <label class="col-sm-4 sp-15bottom">
                                @Html.LabelFor(model => model.MobileNumber)</label>
                            <div class="col-sm-8">
                                @Html.DisplayFor(model => model.MobileNumber)
                            </div>
                        </div>
                        <div class="col-md-6">
                                <div class="col-sm-4 sp-15bottom">
                                    <label class="checkbox-inline" >
                                        @Html.CheckBoxFor(model => model.IsActive, new { @class = "checkbox-inline ", @disabled = "disabled" })Reviewer Active
                                    </label>
                                </div>
                                 <div class="col-sm-7 sp-15bottom">
                                    <label class="checkbox-inline" >
                                        @Html.CheckBoxFor(model => model.IsAllowToCloseWorkOrder, new { @class = "checkbox-inline ", @disabled = "disabled" })Allowed to Close Work Orders
                                    </label>
                                </div>
                            </div>
                        </div>
                        </div>

                         <div class="row">
                          <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="col-sm-4 sp-15bottom">
                                Title </label>
                            <div class="col-sm-8">
                                @Html.DisplayFor(model => model.ReviewerTitle)
                             @*   @Html.ValidationMessageFor(model => model.InspectorTitle)*@
                            </div>
                        </div>
                        </div>
                    </div>  


                          
            </div>
        </div>
    </div>
    <div class="panel panel-default">
                     <div class="panel-heading">
                   <div class="panel-title">
                  <b> Assign Clients</b>
                   </div>
                   </div>
                   <div class="panel-body">
                      <div class="row">
                          <div class="col-md-2">
                              <label>
                                  Assign Company
                              </label>
                          </div>
                        <div class="col-md-10" style="padding-left: 31px;">
                            <div class="assign-company-tags">
                                @if (User.Role == "Franchise Admin")
                                {
                                    @Html.DropDownListFor(m => m.Client_IDs, new MultiSelectList(Model.ReviewerClientDetails((long)User.User_ID), "Client_ID", "CompanyName"), "Select Company Name", new { @class = "form-control sp-15bottom", multiple = "multiple", disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(m => m.Client_IDs, new MultiSelectList(Model.ReviewerClientDetails(e2rc.Models.Repository.ReviewerRepository.getReviewer_UserID((long)User.User_ID)), "Client_ID", "CompanyName"), "Select Company Name", new { @class = "form-control sp-15bottom", multiple = "multiple", disabled = "disabled" })
                                }
                            </div> 
                        </div> 
                    </div>
                       <div class="row" style="margin-top:20px;">

                           <div class="col-md-2">
                               <label>
                                   Assign Projects
                               </label>
                           </div>
                           <div class="col-md-10" style="padding-left: 31px;">
                               <div class="assign-company-tags">
                                   @Html.DropDownListFor(m => m.lstLocation_ID, Enumerable.Empty<SelectListItem>(), new { @class = "form-control sp-15bottom", multiple = "multiple", disabled = "disabled" })

                                   @*@Html.DropDownList("hiddenDropDown", new MultiSelectList(new e2rc.Models.FranchiseAssignLocationToInspectorModel().FranchiseLocations((long)User.User_ID), "Location_ID", "Name"), new { @class = "form-control sp-15bottom", multiple = "multiple" })*@
                                   @*@Html.DropDownList("hiddenDropDown", new MultiSelectList(new e2rc.Models.FranchiseAssignLocationToInspectorModel().FranchiseLocations((long)User.User_ID), "Location_ID", "Name"), new { @class = "form-control sp-15bottom", multiple = "multiple", disabled = "disabled", @style = "display:none;" })*@
                                   @*@Html.DropDownList("hiddenDropDown", new SelectList(new e2rc.Models.FranchiseAssignLocationToInspectorModel().FranchiseLocations((long)User.User_ID), "Client_ID", "NameLocation_ID"), new { @style = "display:none;" })*@

                                   @if (User.Role == "Franchise Admin")
                                   {
                                        @Html.DropDownList("hiddenDropDown", new MultiSelectList(new e2rc.Models.FranchiseAssignLocationToInspectorModel().FranchiseLocations((long)User.User_ID), "Location_ID", "Name"), new { @class = "form-control sp-15bottom", multiple = "multiple", disabled = "disabled", @style = "display:none;" })
                                   }
                                   else
                                   {
                                         @Html.DropDownList("hiddenDropDown", new MultiSelectList(new e2rc.Models.FranchiseAssignLocationToInspectorModel().FranchiseLocations((long)e2rc.Models.Repository.ReviewerRepository.getReviewer_UserID((long)User.User_ID)), "Location_ID", "Name"), new { @class = "form-control sp-15bottom", multiple = "multiple", disabled = "disabled", @style = "display:none;" })
                                   }
                                   
                                   
                               </div>
                           </div>
                       </div>
                   </div>
        </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <b>Address</b>
            </div>
        </div>
        <div id="collapseAddress">
            <div class="panel-body" style="margin-left: 4%;">
                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                         <div class="col-sm-6">
                                <label class="col-sm-4 sp-15bottom">
                                    Mailing Address</label>
                                <div class="col-sm-8">
                                    @Html.DisplayFor(model => model.Address.MailingAddress)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-sm-4 sp-15bottom">
                                    City</label>
                                <div class="col-sm-8">
                                    @Html.DisplayFor(model => model.Address.City)
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-sm-6">
                                <label class="col-sm-4 sp-15bottom">
                                    State</label>
                                <div class="col-sm-8">
                                    @Html.DisplayFor(model => model.Address.State.Name)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-sm-4 sp-15bottom">
                                    Zip Code</label>
                                <div class="col-sm-8">
                                    @Html.DisplayFor(model => model.Address.ZipCode)
                                </div>
                            </div>
                        </div>
                    </div>
                   
                     

                    @*<div class="row">
                        <div class="col-md-12 ">
                            @Html.ActionLink("Edit", "Edit", "Inspector", new { Inspector_ID = Model.Inspector_ID }, new { @class = "btn  btn-primary" })
                        </div>
                    </div>*@
               
            </div>
        </div>
    </div>
</div>
    </div>
