@model e2rc.Models.ExecutorModel
@{
    ViewBag.Title = "Operator Details";
}
<script type="text/javascript">
    $(function () {
        $(".btnbk").click(function () {
            window.history.back()
        });
    });
</script>



<div class="navbar" style="margin-bottom: 0% !important;">
    <div class="row">
        <div class="col-md-6">
            <div class="col-sm-4">
                  <div class = "btn btn-black btn-custom btnbk" style="width:100%;"> Back</div>
            </div>
            <div class="col-sm-1">
            </div>
             @if (User.Role == "Franchise Admin")
             {
             <div class="col-sm-4">
                @Html.ActionLink("Edit", "Edit", "Executor", new { Executor_ID = Model.Executor_ID }, new { @class = "btn btn-black btn-custom" })
            </div>
             }
        </div>
    </div>
</div>
<div class="panel-head">
  Operator User Details
</div>
<div id="accordion" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <b>Operator User Details</b>
            </div>
        </div>
        <div id="collapseThree" class="panel-collapse collapse  in">
            <div class="panel-body" style="margin-left: 4%;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-sm-6">
                            <label class="col-sm-5 sp-15bottom res1">
                              @Html.LabelFor(model => model.FirstName, new { @style = "font-weight:bold" })</label>
                            <div class="col-sm-7 sp-15bottom res2">
                                @Html.DisplayFor(model => model.FirstName)
                            </div>
                        </div>
                          <div class="col-sm-6">
                            <label class="col-sm-5 sp-15bottom res1">
                              @Html.LabelFor(model => model.LastName, new { @style = "font-weight:bold" })</label>
                            <div class="col-sm-7 sp-15bottom res2">
                                @Html.DisplayFor(model => model.LastName)
                            </div>
                        </div>                       
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-sm-6">
                            <label class="col-sm-5 sp-15bottom res1" style="font-weight:bold">
                              @Html.LabelFor(model => model.Date, new { @style = "font-weight:bold" })</label>
                            <div class="col-sm-7 sp-15bottom res2">
                                @Html.DisplayFor(model => model.Date)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-5 sp-15bottom res1">
                                @Html.LabelFor(model => model.UserName, new { @style = "font-weight:bold" })</label>
                            <div class="col-sm-7 sp-15bottom res2">
                                @Html.DisplayFor(model => model.UserName)
                            </div>
                        </div>                       
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                     <div class="col-sm-6">
                            <label class="col-sm-5 sp-15bottom res1">
                                @Html.LabelFor(model => model.Email, new { @style = "font-weight:bold" })</label>
                            <div class="col-sm-7 sp-15bottom res2">
                                @Html.DisplayFor(model => model.Email)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-5 sp-15bottom res1">
                                <b>Role</b></label>
                            <div class="col-sm-7 sp-15bottom res2">
                                @Html.DisplayFor(model => model.Role.Description)
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <div class="col-sm-6">
                            <label class="col-sm-5 sp-15bottom res1">
                                @Html.LabelFor(model => model.PhoneNumber, new { @style = "font-weight:bold" })</label>
                            <div class="col-sm-7 sp-15bottom res2">
                                @Html.DisplayFor(model => model.PhoneNumber)
                            </div>
                        </div>
                     <div class="col-sm-6">
                            <label class="col-sm-5 sp-15bottom res1">
                                @Html.LabelFor(model => model.MobileNumber, new { @style = "font-weight:bold" })</label>
                            <div class="col-sm-7 sp-15bottom res2">
                                @Html.DisplayFor(model => model.MobileNumber)
                            </div>
                        </div>                        
                        <div class="col-sm-6">
                        </div>
                    </div>
                </div>
                <div class="row">
                         <div class="col-md-6">
                                <div class="col-sm-5 sp-15bottom">
                                    <label class="checkbox-inline" >
                                        @Html.CheckBoxFor(model => model.IsActive, new { @class = "checkbox-inline ", @disabled = "disabled" })Operator Active 
                                    </label>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <b>Address</b>
            </div>
        </div>
        <div id="collapseAddress">
            <div class="panel-body" style="margin-left: 4%;">
                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-sm-6">
                                <label class="col-sm-5 sp-15bottom res1">
                                  <b> Street Address</b></label>                                   
                                <div class="col-sm-7 sp-15bottom res2">
                                      @Html.DisplayFor(model => model.Address.MailingAddress)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-sm-5 sp-15bottom res1">
                                    <b>City</b></label>
                                <div class="col-sm-7 sp-15bottom res2">
                                    @Html.DisplayFor(model => model.Address.City)
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-sm-6">
                                <label class="col-sm-5 sp-15bottom res1">
                                 <b> State</b></label>
                                <div class="col-sm-7 sp-15bottom res2">
                                  @Html.DisplayFor(model => model.Address.State.Name)
                                
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-sm-5 sp-15bottom res1">
                                    <b>Zip Code</b></label>
                                <div class="col-sm-7 sp-15bottom res2">
                                    @Html.DisplayFor(model => model.Address.ZipCode)
                                </div>
                            </div>
                        </div>
                    </div>  
                     <div class="row">
                @* <div class="col-md-12 ">
                          @Html.ActionLink("Edit", "Edit", "Inspector", new { ID = Model.Client_ID ,View="Client"}, new { @class = "btn btn-primary" })
                        </div>*@
                </div>
                    
                                     
                </div>
            </div>
        </div>
    </div>
</div>
