@using PagedList.Mvc
@using PagedList
@model IPagedList<e2rc.Models.ExecutorModel>
@{
    ViewBag.Title = "Operator";
}

<style type="text/css">
    .ui-widget-header .ui-icon
    {
        background-image: none !important;
    }
    .ui-icon
    {
        background-image: none !important;
    }
     .status
    {
        font-size:13px!important;
        font-weight:normal!important;
        float:right!important;
    }
    .container 
    {
        padding-left:0px!important;
        padding-right:0px!important;
    }
    .col-sm-4
    {
         padding-left:0px!important;
        padding-right:0px!important;
    }
    .panel-title 
{
    font-size:14px !important;
}
.table th {
   text-align: center !important;
}   
</style>
   
</style>

<script type="text/javascript">
    $(document).ready(function () {
        ($('#Activate').attr('checked', true));
    });


</script>
<script type="text/javascript">
    $(function () {
        $(".Update").click(function () {
            var chkExecutor_IDs = [], unchkExecutor_IDs = [];
            $(".rowstatus").each(function () {
                if ($(this).is(':checked')) {
                    var UpdateTR = $(this).parent().parent();
                    chkExecutor_IDs.push(parseInt($(UpdateTR).find("input[type=hidden]:first").val()));
                }
                else {
                    var UpdateTR = $(this).parent().parent();
                    unchkExecutor_IDs.push(parseInt($(UpdateTR).find("input[type=hidden]:first").val()));
                }
            });

            $.ajax({
                url: '/Executor/UpdateExecutorStatusList/',
                type: 'POST',
                data: JSON.stringify({ chkedExecutor_ID: chkExecutor_IDs, unchkExecutor_ID: unchkExecutor_IDs }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    alert("Executive Status Updated Sucessfully ")
                    window.location.reload(true);
                },
                error: function (data) {
                    alert(data)
                }
            });


        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#Activate').click(function () {
            if ($(this).is(':checked')) {
                $(".rowstatus").each(function () {
                    $(this).prop("checked", true);
                });
            }
            else {
                $(".rowstatus").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });
    });
    </script>

<script type="text/javascript">
    // auto search by franchise name
    $(function () {
        $("#txtSearch").autocomplete({
            source: '@Url.Action("GetOperatorName")'
        });
    });
</script>
<div class="navbar" style="margin-bottom: 0% !important;">
    <div class="row">
        <div class="col-md-6">
            <div class="col-sm-4">
                @Html.ActionLink("Dashboard", "Index", "Dashboard", null, new { @class = "btn btn-custom btn-black margin-0" })
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-4">
                @Html.ActionLink("Create New", "Create", "Executor", new {view="" }, new { @class = "btn btn-black btn-custom margin-0" })
            </div>
        </div>
        <div class="col-md-6">
            @using (Html.BeginForm("Index", "Executor", FormMethod.Get))
            {
                @Html.AntiForgeryToken()
                <div style="float: left; width: 85%;">
                    @Html.TextBox("search", null, new { id = "txtSearch", @class = "form-control text-search", placeholder = "Search by Operator First Name", style = "height: 0% !important;" })
                </div>
                <div style="float: left; width: 15%;">
                    <button class="btn btn-black btn-custom margin-0 form-control glyphicon glyphicon-search align-right btn-search"
                        style="height: 0% !important;">
                    </button>
                </div>                              
            }
        </div>
    </div>
</div>
<div class="panel-head">   
<table>
<tr >
   <td style="width:83%;">
  Operator User Information
    </td>
    <td>
   <table style="float:right!important;">
   <tr>
   <td>
        @Html.ActionLink("Active", "Index", "Executor", new { view = "Active" }, new { @class = "btn btn-custom btn-black margin-0 status",@style = "margin:5px!important;" })
        </td> 
    <td>
         @Html.ActionLink("Inactive", "Index", "Executor", new { view = "InActive" }, new { @class = "btn btn-custom btn-black margin-0 status" })
    </td>   
   </tr>
   </table>
   </td>  
    </tr>
   </table>
</div>
<div id="dialog-confirm">
</div>
<div class="panel panel-default" style="margin-bottom: 0% !important;">
    <div class="panel-body padding-0">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover  margin-0 ">
                <tr class="panel-title">
                    <th class="header-color col-md-2 text-center">
                       @* @Html.DisplayNameFor(model => model.First().FirstName)*@
                         @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FirstNameSortParm })  
                    </th>
                    <th class="header-color col-md-2 text-center">
                       @* @Html.DisplayNameFor(model => model.First().LastName)*@
                         @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParm })  
                    </th>
                    <th class="header-color col-md-2 text-center">
                       @* @Html.DisplayNameFor(model => model.First().UserName)*@
                         @Html.ActionLink("Username", "Index", new { sortOrder = ViewBag.UserNameSortParm })  
                    </th>
                    <th class="header-color col-md-3 text-center">
                      @*  @Html.DisplayNameFor(model => model.First().Email)*@
                         @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm })  
                    </th>
                    <th class="header-color col-md-1 text-center ">
                     @*   @Html.DisplayNameFor(model => model.First().Date)*@
                         @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })  
                    </th>
                    <th class="header-color col-md-1 text-center" style="color:#199AD6">
                        Actions
                    </th>
                    <th class="header-color col-md-2 col-sm-1 col-xs-1" style="color:#199AD6">
                        Status @Html.CheckBox("Activate All", new { @class = "sp-15bottom status", @id = "Activate"})
                    </th>
                </tr>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                             @Html.HiddenFor(modelItem => item.Executor_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                           @* @Html.ActionLink("Edit", "Edit", new { Client_ID = item.Client_ID }, null) |*@
                            @Html.ActionLink("View", "Details", new { Executor_ID = item.Executor_ID }, null)
                             @*|<a href="#" class="bg" onclick="ConfirmDeletion('Are you sure want to delete this Director?',
                                                                 'Delete Executor ?','/Executor/Delete',
                                                                  'Executor_ID',@item.Executor_ID,'unable to delete the Executor.'
                                                                  ,'Executor has been deleted successfully.',
                                                                  '../Executor/index');" >Delete</a>*@
                        </td>
                         <td> @Html.CheckBoxFor(modelItem => item.IsActive, new { @class = "sp-15bottom rowstatus" }) </td> 
                    </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">
                            No operator information found to display.
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
@if (Model != null)
{
    <div class="panel-head padding-0" style="font-size: 13px !important;">
    <div style="float:right;padding-right:1%;"><button class="Update btn btn-custom btn-black">Update</button></div>
        @Html.PagedListPager(Model, Page => Url.Action("Index", new
{
    Page,
    search = Request.QueryString["search"]
}), new PagedListRenderOptions()
{
    Display = PagedListDisplayMode.IfNeeded,
    DisplayPageCountAndCurrentLocation = true,
    MaximumPageNumbersToDisplay = 10
})
    </div>
}