@model e2rc.Models.FranchiseAssignLocationToClientModel
@{
    ViewBag.Title = "Franchise Assign Location To Client";
}
<script src="~/Scripts/multiple-select.js"></script>
<link href="~/Content/css/multiple-select.css" rel="stylesheet" />
<script>
    $(function () {
        $("#lstReviewer_ID").multipleSelect({
            placeholder: "Select Reviewer Name",
            filter: true
        });
        //$("#Client_ID").multipleSelect({
        //    placeholder: "Select Company Name"
        //});
        $(".ms-parent").css("width", "276.66px");
        $("#lstLocation_ID").multipleSelect({
            placeholder: "Select Project Name",
            filter: true
        });
        $("#btnSubmit").click(function () {
            //alert("Selected values: " + $("#lstInspector_ID").multipleSelect("getSelects"));
            //alert("Selected values Type: " + typeof($("#lstInspector_ID").multipleSelect("getSelects")));
            //alert("Selected texts: " + $("#lstLocation_ID").multipleSelect("getSelects", "text"));
            if (($("#lstReviewer_ID").multipleSelect("getSelects") != '') && ($("#lstLocation_ID").multipleSelect("getSelects") != '')) {
                $("#RemoveAccess").val(false);
                return true;
            }
            else {
                alert('Select Atleast one Reviewer Name and Project Name !');
                return false;
            }
        });
        $("#btnRemoveAccess").click(function () {
            if ($("#lstReviewer_ID").multipleSelect("getSelects") != '') {
                $("#RemoveAccess").val(true);
                return true;
            }
        });
    });
</script>

@*<script type="text/javascript">
    $(function () {
        $("#Reviewer_ID").change(function () {
            $.ajax({
                        url: '/FranchiseAssignLocationToClient/GetReviewerClients/',
                        type: 'POST',
                        data: JSON.stringify({ Reviewer_ID: $("#Reviewer_ID").val() }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            $('#Client_ID').children().remove();
                            $('#Client_ID').append($("<option></option>").val("").html("Select Company Name"));
                            $(data).each(function () {
                                $('#Client_ID').append($("<option></option>").val(this.Client_ID).html(this.CompanyName));
                            });
                        }
                    });
        });

        $("#Client_ID").change(function () {
            $.ajax({
                        url: '/FranchiseAssignLocationToClient/GetReviewerClientsLocation/',
                        type: 'POST',
                        data: JSON.stringify({ Client_ID: $("#Client_ID").val() }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            $('#Location_ID').children().remove();
                            $('#Location_ID').append($("<option></option>").val("").html("Select Project Name"));
                            $(data).each(function () {
                                $('#Location_ID').append($("<option></option>").val(this.Location_ID).html(this.Name));
                            });
                        }
                    });
        });
    });
</script>*@

<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            var IsAllDataValide = true;

            if ($('#Reviewer_ID').text().trim() == "Select Reviewer Name") {
                $('#Reviewer_ID').css("border", "1px solid red");
                $('#Reviewer_ID').bind("change", function () {
                    if ($(this).val() != "Select Reviewer Name")
                        IsAllDataValide = true;
                    $(this).css("border", "1px solid gray");
                });
                IsAllDataValide = false;
            }

            if ($('#Client_ID').text().trim() == "Select Company Name") {
                $('#Client_ID').css("border", "1px solid red");
                $('#Client_ID').bind("change", function () {
                    if ($(this).val() != "Select Company Name")
                        IsAllDataValide = true;
                    $(this).css("border", "1px solid gray");
                });
                IsAllDataValide = false;
            }

            if ($('#Location_ID').text().trim() == "Select Project Name") {
                $('#Location_ID').css("border", "1px solid red");
                $('#Location_ID').bind("change", function () {
                    if ($(this).val() != "Select Project Name")
                        IsAllDataValide = true;
                    $(this).css("border", "1px solid gray");
                });
                IsAllDataValide = false;
            }

            if (IsAllDataValide) {
                return true;
            } else {
                alert("Please fill all red marked fields.");
                $(document.forms[1]).valid();
                return false;
            }

        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $(".btnbk").click(function () {
            //$("select").each(function () {
            //    if ($(this).val().trim() != "" && $(this).val().trim().length > 0) {
            //        IsFormFilled = true;
            //    }
            //});
            if (($("#lstReviewer_ID").multipleSelect("getSelects") != '') || ($("#lstLocation_ID").multipleSelect("getSelects") != '')) {
                IsFormFilled = true;
            } else {
                IsFormFilled = false;
            }
            if (IsFormFilled) {
                if (confirm("The information is incomplete or has not been saved.Select 'OK' to proceed or 'Cancel' to complete and save the account information")) {
                    window.location = "@Url.Action("Index","Dashboard")";
                }
                else {
                    IsFormFilled = false;
                }
            } else {
               window.location = "@Url.Action("Index","Dashboard")";
            }
        });
    });
</script>
<div class="navbar" style="margin-bottom: 0% !important;">
    <div class="row">
        <div class="col-md-6">
            <div class="col-sm-4">
                <div class="btn btn-black btn-custom margin-0 btnbk " style="width:100%;"> Back</div>
            </div>
            <div class="col-sm-1">
            </div>
            @*<div class="col-sm-4">
                    @Html.ActionLink("View Assign Location", "Index", "LocationAssign", null, new { @class = "btn btn-custom btn-black margin-0" })
                </div>*@
        </div>
    </div>
</div>
<div class="panel-head">
    Assign Project to Reviewer
</div>
@using (Html.BeginForm("create", "FranchiseAssignLocationToClient", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div id="accordion" class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <b>Assign Project Details</b>
                </div>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in" style="overflow:inherit">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-sm-4 sp-15bottom">
                                Reviewer Name
                            </label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(m => m.lstReviewer_ID, new MultiSelectList(new e2rc.Models.FranchiseAssignLocationToClientModel().GetReviewerDetails((long)User.User_ID), "Reviewer_ID", "Name"), new { multiple = "multiple" })
                                @*@Html.DropDownListFor(m => m.Reviewer_ID, new SelectList(new e2rc.Models.FranchiseAssignLocationToClientModel().GetReviewerDetails((long)User.User_ID), "Reviewer_ID", "Name"), "Select Reviewer Name", new { @class = "form-control sp-15bottom " })*@
                                @*  @Html.DropDownListFor(m => m.inspector.Inspector_ID, new SelectList(new e2rc.Models.LocationAssignModel().inspectors, "Inspector_ID", "Name"), "Select Inspector's Name", new { @class = "form-control sp-15bottom" })*@
                                @Html.ValidationMessageFor(model => model.Reviewer_ID)
                            </div>
                        </div>
                        @*<div class="col-md-6">
                        <label class="col-sm-4 sp-15bottom">
                            Company Name
                        </label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.Client_ID, new MultiSelectList(new List<dynamic> { new { Client_ID = "", CompanyName = "Select Company Name" } }, "Client_ID", "CompanyName"), new { @class = "form-control sp-15bottom ", data_val = true, multiple = "multiple" })
                            @Html.DropDownListFor(m => m.Client_ID, new SelectList(new List<dynamic> { new { Client_ID = "", CompanyName = "Select Company Name" } }, "Client_ID", "CompanyName"), new { @class = "form-control sp-15bottom ", data_val = true })
                            @* @Html.DropDownListFor(m => m.Client_ID, new SelectList(new e2rc.Models.FranchiseAssignLocationToClientModel().GetClientDetails((long)User.User_ID), "Client_ID", "CompanyName"),"Select Company Name", new { @class = "form-control sp-15bottom " })
                            @*  @Html.DropDownListFor(m => m.inspector.Inspector_ID, new SelectList(new e2rc.Models.LocationAssignModel().inspectors, "Inspector_ID", "Name"), "Select Inspector's Name", new { @class = "form-control sp-15bottom" })
                            @Html.ValidationMessageFor(model => model.inspector.Inspector_ID)

                        </div>
                    </div>*@
                        <div class="col-md-6">
                            <label class="col-sm-4 sp-15bottom">
                                Project Name
                            </label>
                            <div class="col-sm-8">
                                @*@Html.DropDownListFor(m => m.Location_ID, new MultiSelectList(new List<dynamic> { new { Location_ID = "", Name = "Select Project Name" } }, "Location_ID", "Name"), new { @class = "form-control sp-15bottom ", data_val = true, multiple = "multiple" })*@
                                @*@Html.DropDownListFor(m => m.Location_ID, new SelectList(new List<dynamic> { new { Location_ID = "", Name = "Select Project Name" } }, "Location_ID", "Name"), new { @class = "form-control sp-15bottom ", data_val = true })*@
                                @* @Html.DropDownListFor(m => m.Location_ID, new SelectList(new e2rc.Models.FranchiseAssignLocationToClientModel().FranchiseLocations((long)User.User_ID), "Location_ID", "Name"), "Select Project Name", new { @class = "form-control sp-15bottom" })*@
                                @Html.DropDownListFor(m => m.lstLocation_ID, new MultiSelectList(new e2rc.Models.FranchiseAssignLocationToInspectorModel().FranchiseLocations((long)User.User_ID), "Location_ID", "Name"), new { multiple = "multiple"})
                                @Html.ValidationMessageFor(model => model.location.Location_ID)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button id="btnSubmit" class="btn  btn-primary" value="Submit">
                                Assign Access
                            </button>
                            <button id="btnRemoveAccess" class="btn btn-primary" value="Submit">
                                Remove Access
                            </button>
                            @Html.HiddenFor(m => m.RemoveAccess)
                        </div>
                    </div>
                    <div class="row">
                        @Html.ValidationSummary(true)
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}