@using PagedList;
@using PagedList.Mvc;

@model IPagedList<e2rc.Models.FranchiseAssignLocationToClientModel>
@{
    ViewBag.Title = "FranchiseAssignLocationToClient";
}
<style>
  .ui-icon 
  {
      background:none !important;
  }
  .table th {
   text-align: center !important;
}  
</style>
<script type="text/javascript">
    // auto search by franchise name
    $(function () {
        $("#txtSearch").autocomplete({
            source: '@Url.Action("GetName")'
        });
    });
</script>
<div class="navbar" style="margin-bottom: 0% !important;">
    <div class="row">
        <div class="col-md-6">
            <div class="col-sm-4">
                @Html.ActionLink("Dashboard", "Index", "Dashboard", null, new { @class = "btn btn-custom btn-black margin-0" })
            </div>
            <div class="col-sm-1">
            </div>
            @*<div class="col-sm-4">
                @Html.ActionLink("Create New", "Create", "FranchiseAssignLocationToClient", new { @class = "btn btn-black btn-custom margin-0" })
            </div>*@
        </div>
        <div class="col-md-6">
            @using (Html.BeginForm("Index", "FranchiseAssignLocationToClient", FormMethod.Get))
            {
                <div style="float: left; width: 85%;">
                    @Html.TextBox("search", null, new { id = "txtSearch", @class = "form-control text-search", placeholder = "Search by Reviewer Name", style = "height: 0% !important;" })
                </div>
                <div style="float: left; width: 15%;">
                    <button class="btn btn-black btn-custom margin-0 form-control glyphicon glyphicon-search align-right btn-search"
                        style="height: 0% !important;">
                    </button>
                </div>
            }
        </div>
    </div>
</div>
<div class="panel-head">
  Projects Assigned to Reviewer
</div>
<div id="dialog-confirm">
</div>
<div class="panel panel-default" style="margin-bottom: 0% !important;">
    <div class="panel-body padding-0">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover  margin-0 ">
                <tr class="panel-title"> 
                <th class="header-color col-md-2 text-center">
                       Reviewer Name
                    </th>              
                    <th class="header-color col-md-2 text-center">
                       Company Name
                    </th>
                    <th class="header-color col-md-2">
                       Location
                    </th>
                    @*<th class="header-color col-md-3">
                        @Html.DisplayNameFor(model => model.First().)
                    </th>*@
                    <th class="header-color col-md-2 ">
                        @Html.DisplayNameFor(model => model.First().Date)
                    </th>
                    <th class="header-color col-md-2">
                        Actions
                    </th>
                </tr>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                    <tr>
                    <td>
                        @Html.HiddenFor(modelItem => item.Reviewer_ID)    
                        @Html.DisplayFor(modelItem => item.ReviewerName)
                            
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                          <td>
                            @Html.DisplayFor(modelItem => item.LocationName)
                        </td>                       
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { Assign_ID = item.Assign_ID }) |                         
                            <a href="#" onclick="ConfirmDeletion('Are you sure want to delete this ?',
                                                                 'Delete  ?','/FranchiseAssignLocationToClient/Delete',
                                                                  'Assign_ID',@item.Assign_ID,'unable to delete the Franchise Assigned Location.'
                                                                  ,'Franchise Assigned Location has been deleted successfully.',
                                                                  '../FranchiseAssignLocationToClient/index');" >Delete</a>*@
                            @Html.ActionLink("Edit", "Edit", "Reviewer", new { Reviewer_ID = item.Reviewer_ID }, null) |
        <a href="#" onclick="ConfirmDeletion('Are you sure want to delete this ?',
                                             'Delete  ?','/FranchiseAssignLocationToClient/Delete',
                                              'Assign_ID',@item.Assign_ID,'unable to delete the Franchise Assigned Location.'
                                              ,'Franchise Assigned Location has been deleted successfully.',
                                              '../FranchiseAssignLocationToClient/index');" >Delete</a>
                        </td>
                    </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">
                          No assigned project information found to display.
                        </td>
                    </tr>

                }
            </table>
        </div>
    </div>
</div>
@if (Model != null)
{
    <div class="panel-head padding-0" style="font-size: 13px !important;">
     @Html.PagedListPager(Model, Page => Url.Action("Index", new
{
    Page,
    search = Request.QueryString["search"]
}), new PagedListRenderOptions()
{
    Display = PagedListDisplayMode.IfNeeded,
    DisplayPageCountAndCurrentLocation = true,
    MaximumPageNumbersToDisplay = 10
})
    </div>
}

