@model e2rc.Models.ClientModel
@{
    ViewBag.Title = "Edit Client";
}
<script type="text/javascript">

    $(function () {

        $(".date").bind("change", function (e) {
            var date = document.getElementById("Date").value.split("/");
            var month = parseInt(date[0]);
            var day = parseInt(date[1]);
            var year = parseInt(date[2]);
            var ListofDays = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
            if (month == 1 || month > 2) {
                if (day > ListofDays[month - 1]) {
                    alert('Invalid date format!');
                    return false;
                }
            }

            if (month == 2) {
                var lyear = false;
                if ((!(year % 4) && year % 100) || !(year % 400)) {
                    lyear = true;
                }
                if ((lyear == false) && (day >= 29)) {
                    alert('Invalid date format!');
                    return false;
                }
                if ((lyear == true) && (day > 29)) {
                    alert('Invalid date format!');
                    return false;
                }
            }

            if (month > 12) {
                alert('Invalid month !');
                return false;
            }
            if (year < 100) {
                year = "20" + year;
            }
            if (month < 10) {
                month = "0" + month;
            }
            if (day < 10) {
                day = "0" + day;
            }

            $(this).val(month + "/" + day + "/" + year);
        });
    });

</script>
<script type="text/javascript">
var IsFormFilled=false;
    $(function () {
        $(".cbtnbk").click(function () {

        $("input:text:not(.date)").each(function () {
                if ($(this).val().trim() != "" && $(this).val().trim().length > 0) {
                    IsFormFilled = true;
                }

            });
            if (IsFormFilled) {
                if (confirm("The Client Account is incomplete or has not been saved. Select 'OK' to proceed or 'Cancel' to complete and save form")) {
                    window.location = "@Url.Action("Index", "Client")";
                }
                else {
                    IsFormFilled = false;
                }
            } else {
                window.location = "@Url.Action("Index", "Client")";
            }
        });
        $("#PhoneNumber").on("keyup", function (e) {
            if ($(this).val().length == 3) {

                $(this).val($(this).val() + "-");

            } else if ($(this).val().length == 7) {

                $(this).val($(this).val() + "-");

            }
        });           
        $("#MobileNumber").on("keyup", function (e) {
            if ($(this).val().length == 3) {

                $(this).val($(this).val() + "-");

            } else if ($(this).val().length == 7) {

                $(this).val($(this).val() + "-");

            }
        }); 
        
//          $(".zip-code").on("keyup", function (e) {
//            if ($(this).val().length == 4) {
//                $(this).val("0"+$(this).val());
//            }  
//            });
       
    });
</script>
<div class="navbar" style="margin-bottom: 0% !important;">
    <div class="row">
        <div class="col-md-6">
            <div class="col-sm-4">
                <div class="btn btn-black btn-custom cbtnbk" style="width: 100%;">
                    Back</div>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-4">
                @* @Html.ActionLink("View Client", "Index", "Client", null, new { @class = "btn btn-black btn-custom" })*@
                <div class="btn btn-black btn-custom cbtnbk" style="width: 100%;">
                    View Client</div>
            </div>
        </div>
        <div class="col-md-6">
            @if (ViewBag.IsClientEdited ?? false)
            {
                <font style="color: #468847;">Client details has been updated successfully.</font>
            }
            else if (!(ViewBag.IsClientEdited ?? true))
            {
                <font style="color: #468847;">Unable to update Client details.</font>
            }
        </div>
    </div>
</div>
<div class="panel-head">
    Edit Client Account
</div>
@using (Html.BeginForm("Edit", "Client", FormMethod.Post))
{
    @Html.AntiForgeryToken()      
    <div id="accordion" class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <b>Client Details</b>
                </div>
            </div>
            <div id="collapseThree" class="panel-collapse collapse  in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-sm-5 sp-15bottom">
                                @Html.LabelFor(model => model.FirstName)<span style="color: Red">*</span></label>
                            <div class="col-sm-7">
                                @Html.EditorFor(model => model.FirstName, new { @class = "form-control sp-15bottom", placeholder = "Enter first Name" })
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-sm-5 sp-15bottom">
                                @Html.LabelFor(model => model.LastName)<span style="color: Red">*</span></label>
                            <div class="col-sm-7">
                                @Html.EditorFor(model => model.LastName, new { @class = "form-control sp-15bottom", placeholder = "Enter last Name" })
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-sm-5 sp-15bottom">
                                @Html.LabelFor(model => model.Date)<span style="color: Red">*</span> eg.(MM/DD/YYYY)</label>
                            <div class="col-sm-7">
                                @Html.EditorFor(model => model.Date, new { @class = "form-control sp-15bottom" })
                                @Html.ValidationMessageFor(model => model.Date)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-sm-5 sp-15bottom">
                                @Html.LabelFor(model => model.UserName)<span style="color: Red">*</span></label>
                            <div class="col-sm-7">
                                @Html.EditorFor(model => model.UserName, new { @class = "form-control sp-15bottom", placeholder = "Enter User Name" })
                                @Html.ValidationMessageFor(model => model.UserName)
                                @Html.HiddenFor(Model => Model.User_ID)
                                @Html.HiddenFor(Model => Model.Client_ID)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-sm-5 sp-15bottom">
                                Password <span style="color: Red">*</span></label>
                            <div class="col-sm-7">
                                @Html.EditorFor(model => model.Password, new { @class = "form-control sp-15bottom padding-none", placeholder = "******" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-sm-5 sp-15bottom">
                                Confirm Password <span style="color: Red">*</span></label>
                            <div class="col-sm-7">
                                @Html.EditorFor(model => model.ConfirmPassword, new { @class = "form-control sp-15bottom padding-none", placeholder = "******" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-sm-5 sp-15bottom">
                                @Html.LabelFor(model => model.Email) <span style="color: Red">*</span> eg.example@gmail.com</label>
                            <div class="col-sm-7">
                                @Html.EditorFor(model => model.Email, new { @class = "form-control sp-15bottom", placeholder = "Enter Email Address" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-sm-5 sp-15bottom">
                                Role <span style="color: Red">*</span></label>
                            <div class="col-sm-7">
                                @Html.DropDownListFor(model => model.Role.Role_ID, new SelectList(new e2rc.Models.ClientModel().Roles, "Role_ID", "Description"), "select role", new { @class = "form-control sp-15bottom" })
                                @Html.ValidationMessageFor(model => model.Role.Role_ID)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-sm-5 sp-15bottom">
                                @Html.LabelFor(model => model.MobileNumber)<span style="color: Red">*</span> eg.999-999-9999</label>
                            <div class="col-sm-7">
                                @Html.EditorFor(model => model.MobileNumber, new { @class = "form-control sp-15bottom", placeholder = "Enter Mobile No" })
                                @Html.ValidationMessageFor(model => model.MobileNumber)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-sm-5 sp-15bottom">
                                @Html.LabelFor(model => model.PhoneNumber)<span style="color: Red">*</span> eg.
                                999-999-9999</label>
                            <div class="col-sm-7">
                                @Html.EditorFor(model => model.PhoneNumber, new { @class = "form-control sp-15bottom", placeholder = "Enter Phone Number" })
                                @Html.ValidationMessageFor(model => model.PhoneNumber)
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <b>Address</b>
                </div>
            </div>
            <div id="collapseAddress">
                <div class="panel-body">
                    <div class="">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="col-sm-5 sp-15bottom">
                                    State <span style="color: Red">*</span></label>
                                <div class="col-sm-7">
                                    @Html.DropDownListFor(model => model.Address.State.State_ID, new SelectList(new e2rc.Models.AddressModel().States, "State_ID", "Name"), "select state", new { @class = "form-control sp-15bottom" })
                                    @Html.ValidationMessageFor(model => model.Address.State.State_ID)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-sm-5 sp-15bottom">
                                    Street / Mailing Address <span style="color: Red">*</span></label>
                                <div class="col-sm-7">
                                    @Html.EditorFor(model => model.Address.MailingAddress, new { @class = "form-control sp-15bottom" })
                                    @Html.ValidationMessageFor(model => model.Address.MailingAddress)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="col-sm-5 sp-15bottom">
                                    City <span style="color: Red">*</span></label>
                                <div class="col-sm-7">
                                    @Html.EditorFor(model => model.Address.City, new { @class = "form-control sp-15bottom", placeholder = "Enter City" })
                                    @Html.ValidationMessageFor(model => model.Address.City)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-sm-5 sp-15bottom">
                                    Zip Code <span style="color: Red">*</span></label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(model => model.Address.ZipCode, new { @class = "form-control sp-15bottom zip-code", placeholder = "Enter 5 digit" })
                                    @Html.ValidationMessageFor(model => model.Address.ZipCode)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 ">
                                <input type="submit" id="btnSubmit" class="btn  btn-primary" value="Save" />
                            </div>
                        </div>
                        <div class="row">
                            @Html.ValidationSummary(true)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
